openapi: 3.1.0
info:
  title: SIEM Integration
  version: 0.1.0
  contact:
    name: JumpCloud API Support
    url: https://support.jumpcloud.com
  description: |
    Generated by openapi-docs-gen. Edit docs/api/prose and regenerate with bin/generate_openapi_docs.
tags:
  - name: SIEM Integration
    description: |
      # Overview

      > **[SIEM Event Types catalogue](../others/siem-event-types/index.html)** — Browse all OCSF-mapped event types with per-service **OCSF field mappings**. Use this when choosing `event_type` values for `GET /data-export/v2/events`.

      SIEM Integration lets Directory Insights Premium customers pull JumpCloud identity events into an external SIEM using the **Events API**. This is a **pull** model: the customer configures their SIEM or collector to poll JumpCloud on a schedule. JumpCloud does not push events to the SIEM in v1.

      > **Note:** See [JumpCloud Data Centers: Login URLs and Service Endpoints](https://jumpcloud.com/support/jumpcloud-data-centers-login-urls-and-service-endpoints) to learn more.

      **This API covers:** Continuous / scheduled ingestion via `GET /data-export/v2/events`.

      **Related capability:** One-time or periodic historical export via the Admin Portal **Historical DI data** page (not covered in this API reference).

      There is **no SIEM setup wizard in v1**. Customers use this API reference, the event types catalogue (linked above), and their SIEM collector documentation.

      The SIEM Integration API is available via REST. Continuous ingestion uses a single GET endpoint:

      ```text
      GET /data-export/v2/events
      ```

      ## Data retention

      JumpCloud retains identity events for up to **13 months (395 days)**. The Events API supports retrieval anywhere within that window. For large historical backfill (weeks or months), use **Historical DI Export** instead of continuous API pull.

      # Using the API

      ## Endpoints

      | Method | Path | Purpose |
      | --- | --- | --- |
      | `POST` | `/data-export/v2/siem/connection-test` | Validate API key, org binding, and partition reachability before scheduling pulls. Does not return event payloads. |
      | `GET` | `/data-export/v2/events` | Pull paginated events for one event type within a time window. |

      ### Connection test

      Run once before production ingestion (and after API key rotation).

      ```http
      POST https://api.jumpcloud.com/data-export/v2/siem/connection-test
      x-api-key: <your-api-key>
      ```

      Success response (`200`):

      ```json
      {
        "ok": true,
        "org_id": "<org-id>"
      }
      ```

      ### Pull events

      **Request headers**

      | Header | Required | Values |
      | --- | --- | --- |
      | `x-api-key` | Yes | Your JumpCloud API key |
      | `Accept` | No (defaults to raw) | `application/json` (raw) or `application/ocsf+json` (OCSF) |

      **Query parameters**

      | Parameter | Required | Description |
      | --- | --- | --- |
      | `since` | Yes | Window start, RFC3339 UTC (e.g. `2026-09-08T05:00:00Z`) |
      | `until` | Yes | Window end, RFC3339 UTC; must be after `since` |
      | `event_type` | Yes | **Single** event type from the event catalog (e.g. `admin_login_attempt`) |
      | `limit` | No | Max events per page (default **1000**, max **1000**) |
      | `next_cursor` | No | Opaque cursor from a previous response; omit on the first page |

      **Example — raw events**

      ```http
      GET https://api.jumpcloud.com/data-export/v2/events?since=2026-09-08T05:00:00Z&until=2026-09-08T06:00:00Z&event_type=admin_login_attempt&limit=1000
      x-api-key: <your-api-key>
      Accept: application/json
      ```

      **Example — OCSF events**

      ```http
      GET https://api.jumpcloud.com/data-export/v2/events?since=2026-09-08T05:00:00Z&until=2026-09-08T06:00:00Z&event_type=admin_login_attempt
      x-api-key: <your-api-key>
      Accept: application/ocsf+json
      ```

      Success response (`200`):

      ```json
      {
        "events": [],
        "next_cursor": "<opaque-cursor-or-omitted-when-done>"
      }
      ```

      Responses use `Cache-Control: no-store`.

      ## Schema selection

      | Format | `Accept` header | Notes |
      | --- | --- | --- |
      | Raw | `application/json` | Event payloads as stored in JumpCloud |
      | OCSF | `application/ocsf+json` | Normalized to OCSF; **recommended for most SIEMs** |

      Unsupported `Accept` values return **HTTP 406**.

      ## Time windows and freshness

      - Each request covers **at most 1 hour**: `(until − since) ≤ 1 hour`. Wider windows return **HTTP 400**.
      - Poll **one `event_type` per request**. To ingest multiple types, run separate poll streams.
      - `until` cannot exceed **approximately 15 minutes before current time** (writer materialization lag). If too recent, the API returns **HTTP 422** with `available_until`.

      ## Pagination and delivery semantics

      - Paginate using opaque **`next_cursor`** until it is absent.
      - **Do not** paginate by `event_time` or `event_id` — cursors are opaque.
      - Use immutable **`event_id`** only for **deduplication**, not pagination.
      - Delivery is **at-least-once** within the requested window. Deduplicate in your SIEM on **`event_id`**.

      ## HTTP status codes

      | Code | Meaning |
      | --- | --- |
      | **200** | Success |
      | **400** | Invalid request (e.g. window > 1 hour, invalid timestamps) |
      | **401** | Missing or invalid API key |
      | **402** | Organization lacks Directory Insights Premium |
      | **403** | API key lacks required scope |
      | **406** | Unsupported `Accept` header |
      | **422** | Requested `until` beyond available writer data; response includes `available_until` |
      | **500** | Server error |

      ## Recommended ingestion workflow

      1. Confirm Directory Insights Premium is enabled and your API key has `directoryinsights.readonly` scope.
      2. Run **`POST /data-export/v2/siem/connection-test`**.
      3. Choose event types from the [SIEM Event Types catalogue](../others/siem-event-types/index.html).
      4. For each `event_type`, configure your collector to poll **`GET /data-export/v2/events`** on a schedule.
      5. Request consecutive **≤1-hour windows**; keep `until` **≥ ~15 minutes behind now** for live tailing.
      6. Paginate with **`next_cursor`** until exhausted for each window.
      7. Select **raw** or **OCSF** via `Accept`.
      8. **Deduplicate on `event_id`** in your SIEM.
      9. For multi-week or multi-month backfill, use **Historical DI Export** instead of API pull.

      ## Customer collector configuration

      | Setting | Guidance |
      | --- | --- |
      | **API host** | `https://api.jumpcloud.com` |
      | **Authentication** | Use the Directory Insights API key (`x-api-key` header) |
      | **Connection test** | Call `POST /data-export/v2/siem/connection-test` before enabling scheduled pulls |
      | **Poll schedule** | Cron or interval (e.g. every 15–60 minutes). Respect 1-hour windows and ~15-minute freshness. |
      | **Event types** | One or more from the event catalog; **one `event_type` per API call** |
      | **Schema** | Raw (`application/json`) or OCSF (`application/ocsf+json`) |
      | **Time windows** | Consecutive 1-hour slices per event type; advance checkpoint after each successful window |
      | **Checkpoint / cursor state** | Persist `next_cursor` and last completed `until` per `event_type` for crash recovery |
      | **Deduplication** | SIEM-side dedup on immutable `event_id` |

      Use the [SIEM Event Types catalogue](../others/siem-event-types/index.html) for valid `event_type` values grouped by Directory Insights service. Each service section includes **OCSF field mappings** (JumpCloud → OCSF paths, descriptions, and transforms) for building parsers and detections.
servers:
  - url: https://api.jumpcloud.com/data-export
    description: United States (US)
    x-jc-region: us
  - url: https://api.eu.jumpcloud.com/data-export
    description: European Union (EU)
    x-jc-region: eu
  - url: https://api.in.jumpcloud.com/data-export
    description: India (IN)
    x-jc-region: in
paths:
  /v2/events:
    get:
      operationId: getEventsPull
      summary: List SIEM Events
      description: |
        Returns paginated inline JSON events for the authenticated org from materialized S3 partitions.
        Partition objects are newline-delimited JSON (NDJSON); each line is one event. Pagination
        cursors are opaque and may resume mid-object via object key and line offset.
        The time window `(until - since)` must not exceed one hour. Requests with `until` beyond the
        writer freshness horizon (`now - 15 minutes`) return HTTP 422 with `available_until`.
        Send `Accept: application/json` for raw partitions or `Accept: application/ocsf+json` for OCSF.
        Responses use Cache-Control no-store.
      tags:
        - SIEM Integration
      x-scopes:
        - directoryinsights.readonly
      security:
        - ApiKeyAuth: []
      parameters:
        - name: since
          in: query
          required: true
          description: Window start (RFC3339)
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          required: true
          description: Window end (RFC3339); must be after since and within 1 hour of since
          schema:
            type: string
            format: date-time
        - name: event_type
          in: query
          required: true
          description: Event type partition name (e.g. user_login)
          schema:
            type: string
            example: user_login
        - name: limit
          in: query
          required: false
          description: Maximum events per page (default 1000, max 1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
        - name: next_cursor
          in: query
          required: false
          description: Pagination cursor from a previous response
          schema:
            type: string
      responses:
        '200':
          description: Paginated inline events
          headers:
            Cache-Control:
              schema:
                type: string
              description: no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsPullResponse'
            application/ocsf+json:
              schema:
                $ref: '#/components/schemas/EventsPullResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          description: Requested window extends beyond available writer data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsPullNotAvailableError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://api.jumpcloud.com/data-export/v2/events?since=SOME_STRING_VALUE&until=SOME_STRING_VALUE&event_type=user_login&limit=SOME_INTEGER_VALUE&next_cursor=SOME_STRING_VALUE' \
              --header 'x-api-key: REPLACE_KEY_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://api.jumpcloud.com/data-export/v2/events"

            querystring = {"since":"SOME_STRING_VALUE","until":"SOME_STRING_VALUE","event_type":"user_login","limit":"SOME_INTEGER_VALUE","next_cursor":"SOME_STRING_VALUE"}

            headers = {"x-api-key": "REPLACE_KEY_VALUE"}

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://api.jumpcloud.com/data-export/v2/events?since=SOME_STRING_VALUE&until=SOME_STRING_VALUE&event_type=user_login&limit=SOME_INTEGER_VALUE&next_cursor=SOME_STRING_VALUE' -Method GET -Headers $headers
  /v2/siem/connection-test:
    post:
      operationId: siemConnectionTest
      summary: Validate SIEM Pull Connectivity
      description: |
        First-time SIEM validation before scheduled event pulls. Confirms org binding and S3 partition reachability
        under the authenticated org prefix without returning event payloads.
      tags:
        - SIEM Integration
      x-scopes:
        - directoryinsights.readonly
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Connection test succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiemConnectionTestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://api.jumpcloud.com/data-export/v2/siem/connection-test \
              --header 'x-api-key: REPLACE_KEY_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://api.jumpcloud.com/data-export/v2/siem/connection-test"

            headers = {"x-api-key": "REPLACE_KEY_VALUE"}

            response = requests.request("POST", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://api.jumpcloud.com/data-export/v2/siem/connection-test' -Method POST -Headers $headers
x-tagGroups:
  - name: API Reference
    tags:
      - SIEM Integration
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    EventsPullResponse:
      type: object
      required:
        - events
      properties:
        events:
          type: array
          description: Inline JSON events parsed from NDJSON partition objects (one array element per event line)
          items:
            type: object
            additionalProperties: true
        next_cursor:
          type: string
          nullable: true
          description: Present when more events remain in the requested window
    EventsPullNotAvailableError:
      type: object
      required:
        - error
        - available_until
        - message
      properties:
        error:
          type: string
          example: requested window extends beyond available data
        available_until:
          type: string
          format: date-time
          description: Latest until timestamp currently materialized in S3
        message:
          type: string
          example: Data is available up to 2026-08-20T15:25:00Z. Retry after the writer catches up.
    SiemConnectionTestResponse:
      type: object
      required:
        - ok
        - org_id
      properties:
        ok:
          type: boolean
          example: true
        org_id:
          type: string
          description: Authenticated org ObjectID (hex)
          example: 507f1f77bcf86cd799439012
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    NotAcceptableError:
      type: object
      required:
        - message
        - supported_types
      properties:
        message:
          type: string
        supported_types:
          type: array
          items:
            type: string
          example:
            - application/json
            - application/ocsf+json
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Insights API token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Token lacks required scope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: Organization lacks Directory Insights Premium entitlement
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotAcceptable:
      description: Unsupported Accept header for GET /v2/events (ADR-3)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotAcceptableError'
    TooManyRequests:
      description: Per-org SIEM events pull rate limit exceeded
      headers:
        Retry-After:
          description: Suggested wait time in seconds before retrying
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
x-scopes:
  - directoryinsights.readonly
