basePath: /api/v2
consumes:
  - application/json
host: console.jumpcloud.com
produces:
  - application/json
schemes:
  - https
swagger: '2.0'
info:
  contact:
    name: JumpCloud Support
    url: https://jumpcloud.com/support/contact-jumpcloud-support
  description: |
    # Overview

    JumpCloud's V2 API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings and interact with the JumpCloud Graph.

    > **Note:** Customers using the [EU Data Center](https://jumpcloud.com/support/jumpcloud-eu-data-center-faq) should use `https://console.eu.jumpcloud.com` in the endpoint URLs.

    ## API Best Practices

    Read the linked Help Article below for guidance on retrying failed requests to JumpCloud's REST API, as well as best practices for structuring subsequent retry requests. Customizing retry mechanisms based on these recommendations will increase the reliability and dependability of your API calls.

    Covered topics include:
    1. Important Considerations
    2. Supported HTTP Request Methods
    3. Response codes
    4. API Key rotation
    5. Paginating
    6. Error handling
    7. Retry rates

    [JumpCloud Help Center - API Best Practices](https://support.jumpcloud.com/support/s/article/JumpCloud-API-Best-Practices)

    # Directory Objects

    This API offers the ability to interact with some of our core features; otherwise known as Directory Objects. The Directory Objects are:

    * Commands
    * Policies
    * Policy Groups
    * Applications
    * Systems
    * Users
    * User Groups
    * System Groups
    * Radius Servers
    * Directories: Office 365, LDAP,G-Suite, Active Directory
    * Duo accounts and applications.

    The Directory Object is an important concept to understand in order to successfully use JumpCloud API.

    ## JumpCloud Graph

    We've also introduced the concept of the JumpCloud Graph along with  Directory Objects. The Graph is a powerful aspect of our platform which will enable you to associate objects with each other, or establish membership for certain objects to become members of other objects.

    Specific `GET` endpoints will allow you to traverse the JumpCloud Graph to return all indirect and directly bound objects in your organization.

    | ![alt text](https://s3.amazonaws.com/jumpcloud-kb/Knowledge+Base+Photos/API+Docs/jumpcloud_graph.png "JumpCloud Graph Model Example") |
    |:--:|
    | **This diagram highlights our association and membership model as it relates to Directory Objects.** |

    # API Key

    ## Access Your API Key

    To locate your API Key:

    1. Log into the [JumpCloud Admin Console](https://console.jumpcloud.com/).
    2. Go to the username drop down located in the top-right of the Console.
    3. Retrieve your API key from API Settings.

    ## API Key Considerations

    This API key is associated to the currently logged in administrator. Other admins will have different API keys.

    **WARNING** Please keep this API key secret, as it grants full access to any data accessible via your JumpCloud console account.

    You can also reset your API key in the same location in the JumpCloud Admin Console.

    ## Recycling or Resetting Your API Key

    In order to revoke access with the current API key, simply reset your API key. This will render all calls using the previous API key inaccessible.

    Your API key will be passed in as a header with the header name "x-api-key".

    ```bash
    curl -H "x-api-key: [YOUR_API_KEY_HERE]" "https://console.jumpcloud.com/api/v2/systemgroups"
    ```

    # System Context

    * [Introduction](#introduction)
    * [Supported endpoints](#supported-endpoints)
    * [Response codes](#response-codes)
    * [Authentication](#authentication)
    * [Additional examples](#additional-examples)
    * [Third party](#third-party)

    ## Introduction

    JumpCloud System Context Authorization is an alternative way to authenticate with a subset of JumpCloud's REST APIs. Using this method, a system can manage its information and resource associations, allowing modern auto provisioning environments to scale as needed.

    **Notes:**

     * The following documentation applies to Linux Operating Systems only.
     * Systems that have been automatically enrolled using Apple's Device Enrollment Program (DEP) or systems enrolled using the User Portal install are not eligible to use the System Context API to prevent unauthorized access to system groups and resources. If a script that utilizes the System Context API is invoked on a system enrolled in this way, it will display an error.

    ## Supported Endpoints

    JumpCloud System Context Authorization can be used in conjunction with Systems endpoints found in the V1 API and certain System Group endpoints found in the v2 API.

    * A system may fetch, alter, and delete metadata about itself, including manipulating a system's Group and Systemuser associations,
      * `/api/systems/{system_id}` | [`GET`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_get) [`PUT`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_put)
    * A system may delete itself from your JumpCloud organization
      * `/api/systems/{system_id}` | [`DELETE`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_delete)
    * A system may fetch its direct resource associations under v2 (Groups)
      * `/api/v2/systems/{system_id}/memberof` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemGroupMembership)
      * `/api/v2/systems/{system_id}/associations` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemAssociationsList)
      * `/api/v2/systems/{system_id}/users` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemTraverseUser)
    * A system may alter its direct resource associations under v2 (Groups)
      * `/api/v2/systems/{system_id}/associations` | [`POST`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemAssociationsPost)
    * A system may alter its System Group associations
      * `/api/v2/systemgroups/{group_id}/members` | [`POST`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemGroupMembersPost)
        * _NOTE_ If a system attempts to alter the system group membership of a different system the request will be rejected

    ## Response Codes

    If endpoints other than those described above are called using the System Context API, the server will return a `401` response.

    ## Authentication

    To allow for secure access to our APIs, you must authenticate each API request.
    JumpCloud System Context Authorization uses [HTTP Signatures](https://tools.ietf.org/html/draft-cavage-http-signatures-00) to authenticate API requests.
    The HTTP Signatures sent with each request are similar to the signatures used by the Amazon Web Services REST API.
    To help with the request-signing process, we have provided an [example bash script](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/shell/SigningExample.sh). This example API request simply requests the entire system record. You must be root, or have permissions to access the contents of the `/opt/jc` directory to generate a signature.

    Here is a breakdown of the example script with explanations.

    First, the script extracts the systemKey from the JSON formatted `/opt/jc/jcagent.conf` file.

    ```bash
    #!/bin/bash
    conf="`cat /opt/jc/jcagent.conf`"
    regex="systemKey\":\"(\w+)\""

    if [[ $conf =~ $regex ]] ; then
      systemKey="${BASH_REMATCH[1]}"
    fi
    ```

    Then, the script retrieves the current date in the correct format.

    ```bash
    now=`date -u "+%a, %d %h %Y %H:%M:%S GMT"`;
    ```

    Next, we build a signing string to demonstrate the expected signature format. The signed string must consist of the [request-line](https://tools.ietf.org/html/rfc2616#page-35) and the date header, separated by a newline character.

    ```bash
    signstr="GET /api/systems/${systemKey} HTTP/1.1\ndate: ${now}"
    ```

    The next step is to calculate and apply the signature. This is a two-step process:

    1. Create a signature from the signing string using the JumpCloud Agent private key: ``printf "$signstr" | openssl dgst -sha256 -sign /opt/jc/client.key``
    2. Then Base64-encode the signature string and trim off the newline characters: ``| openssl enc -e -a | tr -d '\n'``

    The combined steps above result in:

    ```bash
    signature=`printf "$signstr" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\n'` ;
    ```

    Finally, we make sure the API call sending the signature has the same Authorization and Date header values, HTTP method, and URL that were used in the signing string.

    ```bash
    curl -iq \
      -H "Accept: application/json" \
      -H "Content-Type: application/json" \
      -H "Date: ${now}" \
      -H "Authorization: Signature keyId=\"system/${systemKey}\",headers=\"request-line date\",algorithm=\"rsa-sha256\",signature=\"${signature}\"" \
      --url https://console.jumpcloud.com/api/systems/${systemKey}
    ```

    ### Input Data

    All PUT and POST methods should use the HTTP Content-Type header with a value of 'application/json'. PUT methods are used for updating a record. POST methods are used to create a record.

    The following example demonstrates how to update the `displayName` of the system.

    ```bash
    signstr="PUT /api/systems/${systemKey} HTTP/1.1\ndate: ${now}"
    signature=`printf "$signstr" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\n'` ;

    curl -iq \
      -d "{\"displayName\" : \"updated-system-name-1\"}" \
      -X "PUT" \
      -H "Content-Type: application/json" \
      -H "Accept: application/json" \
      -H "Date: ${now}" \
      -H "Authorization: Signature keyId=\"system/${systemKey}\",headers=\"request-line date\",algorithm=\"rsa-sha256\",signature=\"${signature}\"" \
      --url https://console.jumpcloud.com/api/systems/${systemKey}
    ```

    ### Output Data

    All results will be formatted as JSON.

    Here is an abbreviated example of response output:

    ```json
    {
      "_id": "625ee96f52e144993e000015",
      "agentServer": "lappy386",
      "agentVersion": "0.9.42",
      "arch": "x86_64",
      "displayName": "ubuntu-1204",
      "firstContact": "2013-10-16T19:30:55.611Z",
      "hostname": "ubuntu-1204"
      ...
    ```

    ## Additional Examples

    ### Signing Authentication Example

    This example demonstrates how to make an authenticated request to fetch the JumpCloud record for this system.

    [SigningExample.sh](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/shell/SigningExample.sh)

    ### Shutdown Hook

    This example demonstrates how to make an authenticated request on system shutdown.
    Using an init.d script registered at run level 0, you can call the System Context API as the system is shutting down.

    [Instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) is an example of an init.d script that only runs at system shutdown.

    After customizing the [instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) script, you should install it on the system(s) running the JumpCloud agent.

    1. Copy the modified [instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) to `/etc/init.d/instance-shutdown`.
    2. On Ubuntu systems, run `update-rc.d instance-shutdown defaults`. On RedHat/CentOS systems, run `chkconfig --add instance-shutdown`.

    ## Third Party

    ### Chef Cookbooks

    [https://github.com/nshenry03/jumpcloud](https://github.com/nshenry03/jumpcloud)

    [https://github.com/cjs226/jumpcloud](https://github.com/cjs226/jumpcloud)

    # Multi-Tenant Portal Headers

    Multi-Tenant Organization API Headers are available for JumpCloud Admins to use when making API requests from Organizations that have multiple managed organizations.
    The `x-org-id` is a required header for all multi-tenant admins when making API requests to JumpCloud. This header will define to which organization you would like to make the request.

    **NOTE** Single Tenant Admins do not need to provide this header when making an API request.

    ## Header Value

    `x-org-id`

    ## API Response Codes

    * `400` Malformed ID.
    * `400` x-org-id and Organization path ID do not match.
    * `401` ID not included for multi-tenant admin
    * `403` ID included on unsupported route.
    * `404` Organization ID Not Found.

    ```bash
    curl -X GET https://console.jumpcloud.com/api/v2/directories \
      -H 'accept: application/json' \
      -H 'content-type: application/json' \
      -H 'x-api-key: {API_KEY}' \
      -H 'x-org-id: {ORG_ID}'

    ```

    ## To Obtain an Individual Organization ID via the UI

    As a prerequisite, your Primary Organization will need to be setup for Multi-Tenancy. This provides access to the Multi-Tenant Organization Admin Portal.

    1. Log into JumpCloud [Admin Console](https://console.jumpcloud.com). If you are a multi-tenant Admin, you will automatically be routed to the Multi-Tenant Admin Portal.
    2. From the Multi-Tenant Portal's primary navigation bar, select the Organization you'd like to access.
    3. You will automatically be routed to that Organization's Admin Console.
    4. Go to Settings in the sub-tenant's primary navigation.
    5. You can obtain your Organization ID below your Organization's Contact Information on the Settings page.

    ## To Obtain All Organization IDs via the API

    * You can make an API request to this endpoint using the API key of your Primary Organization.  `https://console.jumpcloud.com/api/organizations/` This will return all your managed organizations.

    ```bash
    curl -X GET \
      https://console.jumpcloud.com/api/organizations/ \
      -H 'Accept: application/json' \
      -H 'Content-Type: application/json' \
      -H 'x-api-key: {API_KEY}'
    ```

    # SDKs

    You can find language specific SDKs that can help you kickstart your Integration with JumpCloud in the following GitHub repositories:

    * [Python](https://github.com/TheJumpCloud/jcapi-python)
    * [Go](https://github.com/TheJumpCloud/jcapi-go)
    * [Ruby](https://github.com/TheJumpCloud/jcapi-ruby)
    * [Java](https://github.com/TheJumpCloud/jcapi-java)
  title: JumpCloud API
  version: '2.0'
paths:
  /activedirectories:
    get:
      description: |-
        This endpoint allows you to list all your Active Directory Instances.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/ \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      operationId: activedirectories_list
      parameters:
        - $ref: '#/parameters/trait:fields:fields'
        - $ref: '#/parameters/trait:filter:filter'
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:skip:skip'
        - $ref: '#/parameters/trait:sort:sort'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/active-directory'
            type: array
      security:
        - x-api-key: []
      summary: List Active Directories
      tags:
        - Active Directory
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories"

            querystring = {"limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories?limit=10&skip=0' -Method GET -Headers $headers
    post:
      description: |-
        This endpoint allows you to create a new Active Directory.


        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/activedirectories/ \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "domain": "{DC=AD_domain_name;DC=com}"
          }'
        ```
      operationId: activedirectories_post
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/active-directory'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/active-directory'
      security:
        - x-api-key: []
      summary: Create a new Active Directory
      tags:
        - Active Directory
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/activedirectories \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"domain":"string","useCase":"UNSET","groupsEnabled":true,"delegationState":"ENABLED","updatedAt":"2019-08-24T14:15:22Z"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories"

            payload = {
                "domain": "string",
                "useCase": "UNSET",
                "groupsEnabled": True,
                "delegationState": "ENABLED",
                "updatedAt": "2019-08-24T14:15:22Z"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"domain":"string","useCase":"UNSET","groupsEnabled":true,"delegationState":"ENABLED","updatedAt":"2019-08-24T14:15:22Z"}'
    parameters: []
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/agents:
    get:
      description: |-
        This endpoint allows you to list all your Active Directory Agents for a given Instance.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      operationId: activedirectories_agentsList
      parameters:
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:skip:skip'
        - $ref: '#/parameters/trait:sort:sort'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/active-directory-agent-list'
            type: array
      security:
        - x-api-key: []
      summary: List Active Directory Agents
      tags:
        - Active Directory
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents"

            querystring = {"limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents?limit=10&skip=0' -Method GET -Headers $headers
    parameters:
      - in: path
        name: activedirectory_id
        required: true
        type: string
    post:
      description: |-
        This endpoint allows you to create a new Active Directory Agent.


        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{ "agent_type":"{SYNC}" }'
        ```
      operationId: activedirectories_agentsPost
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/active-directory-agent'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/active-directory-agent-get'
      security:
        - x-api-key: []
      summary: Create a new Active Directory Agent
      tags:
        - Active Directory
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"agentType":"SYNC"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents"

            payload = {"agentType": "SYNC"}
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"agentType":"SYNC"}'
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/agents/{agent_id}:
    delete:
      operationId: activedirectories_agentsDelete
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '204':
          description: ''
      security:
        - x-api-key: []
      summary: Delete Active Directory Agent
      tags:
        - Active Directory
      x-scopes:
        - directories
      description: |-
        This endpoint deletes an Active Directory agent.

        #### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request DELETE \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("DELETE", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}' -Method DELETE -Headers $headers
    get:
      description: |-
        This endpoint returns an Active Directory agent.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: activedirectories_agentsGet
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/active-directory-agent-list'
      security:
        - x-api-key: []
      summary: Get Active Directory Agent
      tags:
        - Active Directory
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}' -Method GET -Headers $headers
    parameters:
      - in: path
        name: activedirectory_id
        required: true
        type: string
      - in: path
        name: agent_id
        required: true
        type: string
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/associations:
    get:
      description: |-
        This endpoint returns the direct associations of this Active Directory instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: graph_activeDirectoryAssociationsList
      parameters:
        - $ref: '#/parameters/trait:graphTargetsActiveDirectory:targets'
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:skip:skip'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/GraphConnection'
            type: array
      security:
        - x-api-key: []
      summary: List the associations of an Active Directory instance
      tags:
        - Graph
        - Active Directory
      x-scopes:
        - associations.directories
        - associations.directories.readonly
        - associations
        - associations.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations?targets=SOME_ARRAY_VALUE&limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations"

            querystring = {"targets":"SOME_ARRAY_VALUE","limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations?targets=SOME_ARRAY_VALUE&limit=10&skip=0' -Method GET -Headers $headers
    parameters:
      - in: path
        name: activedirectory_id
        required: true
        type: string
    post:
      description: |-
        This endpoint allows you to manage the _direct_ associations of an Active Directory instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.

        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{AD_Instance_ID}/associations \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user",
            "id": "{User_ID}"
          }'
        ```
      operationId: graph_activeDirectoryAssociationsPost
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GraphOperation-ActiveDirectory'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '204':
          description: ''
      security:
        - x-api-key: []
      summary: Manage the associations of an Active Directory instance
      tags:
        - Graph
        - Active Directory
      x-scopes:
        - associations.directories
        - associations
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"id":"string","op":"add","attributes":{},"type":"user"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations"

            payload = {
                "id": "string",
                "op": "add",
                "attributes": {},
                "type": "user"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"id":"string","op":"add","attributes":{},"type":"user"}'
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/usergroups:
    get:
      description: |-
        This endpoint will return all Users Groups bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Active Directory instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Active Directory instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: graph_activeDirectoryTraverseUserGroup
      parameters:
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - $ref: '#/parameters/trait:skip:skip'
        - $ref: '#/parameters/trait:filter:filter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
            type: array
      security:
        - x-api-key: []
      summary: List the User Groups bound to an Active Directory instance
      tags:
        - Graph
        - Active Directory
      x-scopes:
        - groups
        - groups.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/usergroups?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/usergroups"

            querystring = {"limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/usergroups?limit=10&skip=0' -Method GET -Headers $headers
    parameters:
      - description: ObjectID of the Active Directory instance.
        in: path
        name: activedirectory_id
        required: true
        type: string
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/user/update:
    parameters:
      - description: ObjectID of the Active Directory instance.
        in: path
        name: activedirectory_id
        required: true
        type: string
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/group/update:
    parameters:
      - description: ObjectID of the Active Directory instance.
        in: path
        name: activedirectory_id
        required: true
        type: string
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/users:
    get:
      description: |-
        This endpoint will return all Users bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Active Directory instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Active Directory instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/users \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: graph_activeDirectoryTraverseUser
      parameters:
        - $ref: '#/parameters/trait:filter:filter'
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - $ref: '#/parameters/trait:skip:skip'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
            type: array
      security:
        - x-api-key: []
      summary: List the Users bound to an Active Directory instance
      tags:
        - Graph
        - Active Directory
      x-scopes:
        - users
        - users.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/users?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/users"

            querystring = {"limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/users?limit=10&skip=0' -Method GET -Headers $headers
    parameters:
      - description: ObjectID of the Active Directory instance.
        in: path
        name: activedirectory_id
        required: true
        type: string
    x-functionalities-tags:
      - active-directory
  /activedirectories/{id}:
    delete:
      description: |-
        This endpoint allows you to delete an Active Directory Instance.

        #### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      operationId: activedirectories_delete
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/active-directory'
      security:
        - x-api-key: []
      summary: Delete an Active Directory
      tags:
        - Active Directory
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request DELETE \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{id}"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("DELETE", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{id}' -Method DELETE -Headers $headers
    get:
      description: |-
        This endpoint returns a specific Active Directory.

        #### Sample Request

        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      operationId: activedirectories_get
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/active-directory'
      security:
        - x-api-key: []
      summary: Get an Active Directory
      tags:
        - Active Directory
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{id}"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{id}' -Method GET -Headers $headers
    patch:
      description: |-
        This endpoint allows you to update Active Directory.
        Here use case can be one of:
        - AD as Authority - password in AD - 2-way sync use case is selected.
        - JC as Authority - one-way sync from AD.
        - Two way sync -  2-way sync use case is selected


        #### Sample Request
        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/activedirectories/{Domain_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
                "domain": "{DC=DOMAIN;DC=COM}",
                "use_case": "{ADASAUTHORITY}",
                "delegation_state": "{ENABLED}"
            }' \
        ```
      operationId: activedirectories_patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/active-directory'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/active-directory'
      security:
        - x-api-key: []
      summary: Update Active Directory
      tags:
        - Active Directory
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request PATCH \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{id} \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"domain":"string","useCase":"UNSET","groupsEnabled":true,"delegationState":"ENABLED","updatedAt":"2019-08-24T14:15:22Z"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{id}"

            payload = {
                "domain": "string",
                "useCase": "UNSET",
                "groupsEnabled": True,
                "delegationState": "ENABLED",
                "updatedAt": "2019-08-24T14:15:22Z"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("PATCH", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{id}' -Method PATCH -Headers $headers -ContentType 'application/json' -Body '{"domain":"string","useCase":"UNSET","groupsEnabled":true,"delegationState":"ENABLED","updatedAt":"2019-08-24T14:15:22Z"}'
    parameters:
      - description: ObjectID of this Active Directory instance.
        in: path
        name: id
        required: true
        type: string
    x-functionalities-tags:
      - active-directory
  /activedirectories/{activedirectory_id}/translation-rules/bulk:
    parameters:
      - in: path
        name: activedirectory_id
        required: true
        type: string
    post:
      tags:
        - Translation Rules
        - Active Directory
      summary: Bulk Translation Rules Operations
      operationId: activedirectoriesTranslationRules_bulk
      description: |
        This endpoint allows performing multiple translation rule operations (insert, update, delete) in a single request.

        #### Sample Request
        ```
        curl -X POST '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/bulk' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}' \
          -d '{
            "insertTranslationRule": [
              {
                "source": "title",
                "destination": "jobTitle",
                "sourceType": "PATH",
                "direction": "EXPORT",
                "appliedOn": [
                  "CREATE",
                  "UPDATE"
                ]
              }
            ],
            "updateTranslationRule": [
              {
                "objectId": "{RULE_ID_BASE64_1}",
                "source": "department",
                "destination": "customDepartmentV3",
                "sourceType": "GOLANG_TEMPLATE",
                "appliedOn": [
                  "UPDATE"
                ]
              }
            ],
            "deleteTranslationRuleObjectIds": [
              "{RULE_ID_BASE64_2}",
              "{RULE_ID_BASE64_3}"
            ]
          }'
        ```
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesBulkRequest'
      responses:
        '200':
          description: Result of the bulk operation.
          schema:
            $ref: '#/definitions/jumpcloud.idm.TranslationRulesBulkResponse'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/Error'
      security:
        - x-api-key: []
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/bulk \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"insertTranslationRules":[{"appliedOn":["CREATE"],"destination":"string","direction":"UNSPECIFIED","source":"string","sourceType":"PATH"}],"updateTranslationRules":[{"objectId":"string","source":"string","destination":"string","direction":"UNSPECIFIED","sourceType":"PATH","appliedOn":["CREATE"]}],"deleteTranslationRuleObjectIds":["string"]}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/bulk"

            payload = {
                "insertTranslationRules": [
                    {
                        "appliedOn": ["CREATE"],
                        "destination": "string",
                        "direction": "UNSPECIFIED",
                        "source": "string",
                        "sourceType": "PATH"
                    }
                ],
                "updateTranslationRules": [
                    {
                        "objectId": "string",
                        "source": "string",
                        "destination": "string",
                        "direction": "UNSPECIFIED",
                        "sourceType": "PATH",
                        "appliedOn": ["CREATE"]
                    }
                ],
                "deleteTranslationRuleObjectIds": ["string"]
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/bulk' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"insertTranslationRules":[{"appliedOn":["CREATE"],"destination":"string","direction":"UNSPECIFIED","source":"string","sourceType":"PATH"}],"updateTranslationRules":[{"objectId":"string","source":"string","destination":"string","direction":"UNSPECIFIED","sourceType":"PATH","appliedOn":["CREATE"]}],"deleteTranslationRuleObjectIds":["string"]}'
  /activedirectories/{activedirectory_id}/translation-rules:
    parameters:
      - description: ObjectID of the Active Directory instance.
        in: path
        name: activedirectory_id
        required: true
        type: string
    get:
      tags:
        - Translation Rules
        - Active Directory
      summary: List Translation Rules of the given active directory
      description: |
        This endpoint allows you to list all translation rules for a given Active Directory domain instance.

        #### Sample Request
        ```
        curl -X GET '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules?limit=100&skip=0' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}'
        ```
      operationId: activedirectoriesTranslationRules_list
      parameters:
        - $ref: '#/parameters/trait:filter:filter'
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - $ref: '#/parameters/trait:skip:skip'
      responses:
        '200':
          description: A list of translation rules.
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesListResponse'
      security:
        - x-api-key: []
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules"

            querystring = {"limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules?limit=10&skip=0' -Method GET -Headers $headers
    post:
      tags:
        - Translation Rules
        - Active Directory
      summary: Create Translation Rule
      operationId: activedirectoriesTranslationRules_post
      description: |
        This endpoint allows you to create a new translation rule for a given Active Directory domain instance.

        #### Sample Request
        ```
        curl -X POST '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}' \
          -d '{
            "organization_object_id": "{ORG_ID_BASE64}",
            "domain_object_id": "{AD_ID_BASE64}",
            "translation_rule": {
              "source": "department",
              "destination": "customDepartment",
              "source_type": "PATH",
              "direction": "EXPORT",
              "applied_on": [
                "CREATE",
                "UPDATE"
              ]
            }
          }'
        ```
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/jumpcloud.idm.IdmTranslationRulesInsertRequest'
      responses:
        '200':
          description: The created translation rule's object ID.
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesInsertResponse'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/Error'
      security:
        - x-api-key: []
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"appliedOn":["CREATE"],"destination":"string","direction":"UNSPECIFIED","source":"string","sourceType":"PATH"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules"

            payload = {
                "appliedOn": ["CREATE"],
                "destination": "string",
                "direction": "UNSPECIFIED",
                "source": "string",
                "sourceType": "PATH"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"appliedOn":["CREATE"],"destination":"string","direction":"UNSPECIFIED","source":"string","sourceType":"PATH"}'
  /activedirectories/{provider_name}/translation-rules/recommendation:
    parameters:
      - description: Provider name.
        in: path
        name: provider_name
        required: true
        type: string
    get:
      tags:
        - Translation Rules
        - Active Directory
      summary: List Recommendation Translation Rules of the given active directory
      description: |
        This endpoint allows you to list all translation rules for a given Active Directory domain instance.

        #### Sample Request
        ```
        curl -X GET '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){provider_name}/translationrules/recommendations?limit=100&skip=0' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}'
        ```
      operationId: activedirectoriesTranslationRules_recommendations
      parameters:
        - $ref: '#/parameters/trait:filter:filter'
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - $ref: '#/parameters/trait:skip:skip'
      responses:
        '200':
          description: A list of translation rules.
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesListResponse'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/Error'
      security:
        - x-api-key: []
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/activedirectories/{provider_name}/translation-rules/recommendation?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{provider_name}/translation-rules/recommendation"

            querystring = {"limit":"10","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{provider_name}/translation-rules/recommendation?limit=10&skip=0' -Method GET -Headers $headers
  /activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}:
    parameters:
      - in: path
        name: activedirectory_id
        required: true
        type: string
      - in: path
        name: translation_rule_object_id
        required: true
        type: string
    put:
      tags:
        - Translation Rules
        - Active Directory
      summary: Update Translation Rule
      operationId: activedirectoriesTranslationRules_update
      description: |
        This endpoint allows you to update an existing translation rule. It supports partial updates using PATCH.

        #### Sample Request
        ```
        curl -X PUT '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/{translation_rule_object_id}' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}' \
          -d '{
            "organization_object_id": "{ORG_ID_BASE64}",
            "domain_object_id": "{AD_ID_BASE64}",
            "translation_rule_object_id": "{RULE_ID_BASE64}",
            "translation_rule": {
              "source": "department",
              "destination": "customDepartmentV2",
              "source_type": "PATH",
              "applied_on": [
                "UPDATE"
              ]
            }
          }'
        ```
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/jumpcloud.idm.IdmTranslationRulesUpdateRequest'
      responses:
        '200':
          description: The updated translation rule's object ID.
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesUpdateResponse'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/Error'
      security:
        - x-api-key: []
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request PUT \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id} \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"appliedOn":["CREATE"],"destination":"string","source":"string","sourceType":"PATH"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}"

            payload = {
                "appliedOn": ["CREATE"],
                "destination": "string",
                "source": "string",
                "sourceType": "PATH"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("PUT", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}' -Method PUT -Headers $headers -ContentType 'application/json' -Body '{"appliedOn":["CREATE"],"destination":"string","source":"string","sourceType":"PATH"}'
    delete:
      tags:
        - Translation Rules
        - Active Directory
      summary: Delete Translation Rule
      operationId: activedirectoriesTranslationRules_delete
      description: |
        This endpoint allows you to delete a specific translation rule.

        #### Sample Request
        ```
        curl -X DELETE '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/{translation_rule_object_id}' \
          -H 'accept: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}'
        ```
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: Translation rule deleted successfully.
          schema:
            type: boolean
            example: true
        default:
          description: Error response
          schema:
            $ref: '#/definitions/Error'
      security:
        - x-api-key: []
      x-scopes:
        - directories
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request DELETE \
              --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("DELETE", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}' -Method DELETE -Headers $headers
  /activedirectories/translation-rules/preview:
    post:
      tags:
        - Translation Rules
        - Active Directory
      summary: Preview of Translation Rules
      operationId: activedirectoriesTranslationRules_preview
      description: |
        This endpoint previews the translation rules for a user.

        #### Sample Request
        ```
        curl -X POST '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/preview' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -H 'x-org-id: {ORG_ID}' \
          -d '{
            "userObjectId": "{USER_ID_HEX}",
            "idmTranslationRules": [
              {
                "source": "department",
                "destination": "customDepartment",
                "sourceType": "PATH",
                "direction": "IMPORT",
                "appliedOn": [
                  "CREATE"
                ]
              }
            ]
          }'
        ```
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesPreviewRequest'
      responses:
        '200':
          description: Result of the preview operation.
          schema:
            $ref: '#/definitions/ActiveDirectoriesTranslationRulesPreviewResponse'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/Error'
      security:
        - x-api-key: []
      x-scopes:
        - directories
        - directories.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/activedirectories/translation-rules/preview \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"translationRules":[{"appliedOn":["CREATE"],"default":true,"destination":"string","direction":"UNSPECIFIED","editable":true,"id":"string","required":true,"source":"string","sourceType":"PATH"}],"userObjectId":"string","activeDirectoryId":"string"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/activedirectories/translation-rules/preview"

            payload = {
                "translationRules": [
                    {
                        "appliedOn": ["CREATE"],
                        "default": True,
                        "destination": "string",
                        "direction": "UNSPECIFIED",
                        "editable": True,
                        "id": "string",
                        "required": True,
                        "source": "string",
                        "sourceType": "PATH"
                    }
                ],
                "userObjectId": "string",
                "activeDirectoryId": "string"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/translation-rules/preview' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"translationRules":[{"appliedOn":["CREATE"],"default":true,"destination":"string","direction":"UNSPECIFIED","editable":true,"id":"string","required":true,"source":"string","sourceType":"PATH"}],"userObjectId":"string","activeDirectoryId":"string"}'
  /administrators/{id}/organizationlinks:
    parameters:
      - type: string
        name: id
        in: path
        required: true
    get:
      description: This endpoint returns the association links between an Administrator and Organizations.
      operationId: administratorOrganizations_listByAdministrator
      parameters:
        - $ref: '#/parameters/trait:limit:limit'
        - $ref: '#/parameters/trait:skip:skip'
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AdministratorOrganizationLink'
            type: array
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      security:
        - x-api-key: []
      summary: List the association links between an Administrator and Organizations.
      tags:
        - Administrators
        - Organizations
        - Managed Service Provider
      x-scopes:
        - administrators
        - administrators.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/administrators/{id}/organizationlinks?limit=10&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/administrators/{id}/organizationlinks"

            querystring = {"limit":"10","skip":"0"}

            headers = {"x-api-key": "REPLACE_KEY_VALUE"}

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/administrators/{id}/organizationlinks?limit=10&skip=0' -Method GET -Headers $headers
    post:
      description: This endpoint allows you to grant Administrator access to an Organization.
      operationId: administratorOrganizations_createByAdministrator
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AdministratorOrganizationLinkReq'
      responses:
        '201':
          description: OK
          schema:
            $ref: '#/definitions/AdministratorOrganizationLink'
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      security:
        - x-api-key: []
      summary: Allow Adminstrator access to an Organization.
      tags:
        - Administrators
        - Organizations
        - Managed Service Provider
      x-scopes:
        - administrators
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://console.jumpcloud.com/api/v2/administrators/{id}/organizationlinks \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --data '{"organization":"6230a0d26a4e4bc86c6b36f1"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/administrators/{id}/organizationlinks"

            payload = {"organization": "6230a0d26a4e4bc86c6b36f1"}
            headers = {
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("POST", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/administrators/{id}/organizationlinks' -Method POST -Headers $headers -ContentType 'application/json' -Body '{"organization":"6230a0d26a4e4bc86c6b36f1"}'
    x-functionalities-tags:
      - admin
  /administrators/{administrator_id}/organizationlinks/{id}:
    parameters:
      - type: string
        name: administrator_id
        in: path
        required: true
      - type: string
        name: id
        in: path
        required: true
    delete:
      summary: Remove association between an Administrator and an Organization.
      tags:
        - Administrators
        - Organizations
        - Managed Service Provider
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      operationId: administratorOrganizations_removeByAdministrator
      description: This endpoint removes the association link between an Administrator and an Organization.
      security:
        - x-api-key: []
      x-scopes:
        - administrators
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request DELETE \
              --url https://console.jumpcloud.com/api/v2/administrators/{administrator_id}/organizationlinks/{id} \
              --header 'x-api-key: REPLACE_KEY_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/administrators/{administrator_id}/organizationlinks/{id}"

            headers = {"x-api-key": "REPLACE_KEY_VALUE"}

            response = requests.request("DELETE", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/administrators/{administrator_id}/organizationlinks/{id}' -Method DELETE -Headers $headers
    x-functionalities-tags:
      - admin
  /applemdms:
    get:
      description: |-
        Get a list of all Apple MDM configurations.  An empty topic indicates that a signed certificate from Apple has not been provided to the PUT endpoint yet.

        Note: currently only one MDM configuration per organization is supported.

        #### Sample Request
        ```
        curl https://console.jumpcloud.com/api/v2/applemdms \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: applemdms_list
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
        - $ref: '#/parameters/trait:limitDefault1:limit'
        - $ref: '#/parameters/trait:skip:skip'
        - $ref: '#/parameters/trait:filter:filter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/AppleMDM'
            type: array
      security:
        - x-api-key: []
      summary: List Apple MDMs
      tags:
        - Apple MDM
      x-scopes:
        - mdm
        - mdm.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://console.jumpcloud.com/api/v2/applemdms?limit=1&skip=0' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/applemdms"

            querystring = {"limit":"1","skip":"0"}

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/applemdms?limit=1&skip=0' -Method GET -Headers $headers
    x-functionalities-tags:
      - mdm
  /applemdms/{id}:
    delete:
      description: |-
        Removes an Apple MDM configuration.

        Warning: This is a destructive operation and will remove your Apple Push Certificates.  We will no longer be able to manage your devices and the only recovery option is to re-register all devices into MDM.

        #### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/applemdms/{id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: applemdms_delete
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AppleMDM'
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '409':
          $ref: '#/responses/trait:standardErrors:409'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      security:
        - x-api-key: []
      summary: Delete an Apple MDM
      tags:
        - Apple MDM
      x-scopes:
        - mdm
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request DELETE \
              --url https://console.jumpcloud.com/api/v2/applemdms/{id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/applemdms/{id}"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("DELETE", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/applemdms/{id}' -Method DELETE -Headers $headers
    parameters:
      - type: string
        name: id
        in: path
        required: true
    put:
      description: |-
        Updates an Apple MDM configuration.  This endpoint is used to supply JumpCloud with a signed certificate from Apple in order to finalize the setup and allow JumpCloud to manage your devices.  It may also be used to update the DEP Settings.

        #### Sample Request
        ```
          curl -X PUT https://console.jumpcloud.com/api/v2/applemdms/{ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "name": "MDM name",
            "appleSignedCert": "{CERTIFICATE}",
            "encryptedDepServerToken": "{SERVER_TOKEN}",
            "dep": {
              "welcomeScreen": {
                "title": "Welcome",
                "paragraph": "In just a few steps, you will be working securely from your Mac.",
                "button": "continue",
              },
            },
          }'
        ```
      operationId: applemdms_put
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/apple-mdm-patch'
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AppleMDM'
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '409':
          $ref: '#/responses/trait:standardErrors:409'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      security:
        - x-api-key: []
      summary: Update an Apple MDM
      tags:
        - Apple MDM
      x-scopes:
        - mdm
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request PUT \
              --url https://console.jumpcloud.com/api/v2/applemdms/{id} \
              --header 'content-type: application/json' \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE' \
              --data '{"appleSignedCert":"string","encryptedDepServerToken":"string","name":"string","defaultSystemGroupID":"string","defaultIosUserEnrollmentDeviceGroupID":"string","allowMobileUserEnrollment":true,"dep":{"welcomeScreen":{"title":"string","paragraph":"string","button":"string"},"setupAssistantOptions":[{"option":"accessibility"}],"enableZeroTouchEnrollment":true},"ades":{"macos":{"welcomeScreen":{"title":"string","paragraph":"string","button":"string"},"setupAssistantOptions":[{"option":"accessibility"}],"setupOptions":["accessibility"],"enableZeroTouchEnrollment":true,"defaultDeviceGroupObjectIds":["string"]},"ios":{"welcomeScreen":{"title":"string","paragraph":"string","button":"string"},"setupAssistantOptions":[{"option":"accessibility"}],"setupOptions":["accessibility"],"enableZeroTouchEnrollment":true,"defaultDeviceGroupObjectIds":["string"]}},"appleCertCreatorAppleID":"string"}'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/applemdms/{id}"

            payload = {
                "appleSignedCert": "string",
                "encryptedDepServerToken": "string",
                "name": "string",
                "defaultSystemGroupID": "string",
                "defaultIosUserEnrollmentDeviceGroupID": "string",
                "allowMobileUserEnrollment": True,
                "dep": {
                    "welcomeScreen": {
                        "title": "string",
                        "paragraph": "string",
                        "button": "string"
                    },
                    "setupAssistantOptions": [{"option": "accessibility"}],
                    "enableZeroTouchEnrollment": True
                },
                "ades": {
                    "macos": {
                        "welcomeScreen": {
                            "title": "string",
                            "paragraph": "string",
                            "button": "string"
                        },
                        "setupAssistantOptions": [{"option": "accessibility"}],
                        "setupOptions": ["accessibility"],
                        "enableZeroTouchEnrollment": True,
                        "defaultDeviceGroupObjectIds": ["string"]
                    },
                    "ios": {
                        "welcomeScreen": {
                            "title": "string",
                            "paragraph": "string",
                            "button": "string"
                        },
                        "setupAssistantOptions": [{"option": "accessibility"}],
                        "setupOptions": ["accessibility"],
                        "enableZeroTouchEnrollment": True,
                        "defaultDeviceGroupObjectIds": ["string"]
                    }
                },
                "appleCertCreatorAppleID": "string"
            }
            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE",
                "content-type": "application/json"
            }

            response = requests.request("PUT", url, json=payload, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $headers.Add("content-type", "application/json")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/applemdms/{id}' -Method PUT -Headers $headers -ContentType 'application/json' -Body '{"appleSignedCert":"string","encryptedDepServerToken":"string","name":"string","defaultSystemGroupID":"string","defaultIosUserEnrollmentDeviceGroupID":"string","allowMobileUserEnrollment":true,"dep":{"welcomeScreen":{"title":"string","paragraph":"string","button":"string"},"setupAssistantOptions":[{"option":"accessibility"}],"enableZeroTouchEnrollment":true},"ades":{"macos":{"welcomeScreen":{"title":"string","paragraph":"string","button":"string"},"setupAssistantOptions":[{"option":"accessibility"}],"setupOptions":["accessibility"],"enableZeroTouchEnrollment":true,"defaultDeviceGroupObjectIds":["string"]},"ios":{"welcomeScreen":{"title":"string","paragraph":"string","button":"string"},"setupAssistantOptions":[{"option":"accessibility"}],"setupOptions":["accessibility"],"enableZeroTouchEnrollment":true,"defaultDeviceGroupObjectIds":["string"]}},"appleCertCreatorAppleID":"string"}'
    x-functionalities-tags:
      - mdm
  /applemdms/{apple_mdm_id}/csr:
    get:
      description: |-
        Retrieves an Apple MDM signed CSR Plist for an organization.  The user must supply the returned plist to Apple for signing, and then provide the certificate provided by Apple back into the PUT API.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/csr \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: applemdms_csrget
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      produces:
        - application/octet-stream
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/apple-mdm-signed-csr-plist'
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '409':
          $ref: '#/responses/trait:standardErrors:409'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      security:
        - x-api-key: []
      summary: Get Apple MDM CSR Plist
      tags:
        - Apple MDM
      x-scopes:
        - mdm
        - mdm.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/csr \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/csr"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/csr' -Method GET -Headers $headers
    parameters:
      - in: path
        name: apple_mdm_id
        required: true
        type: string
    x-functionalities-tags:
      - mdm
  /applemdms/{apple_mdm_id}/depkey:
    get:
      description: |-
        Retrieves an Apple MDM DEP Public Key.

        #### Sample Request

        ```
        curl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/depkey \
          -H 'accept: application/x-pem-file' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: applemdms_depkeyget
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      produces:
        - application/x-pem-file
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/apple-mdm-public-key-cert'
        '400':
          $ref: '#/responses/trait:standardErrors:400'
        '401':
          $ref: '#/responses/trait:standardErrors:401'
        '403':
          $ref: '#/responses/trait:standardErrors:403'
        '404':
          $ref: '#/responses/trait:standardErrors:404'
        '409':
          $ref: '#/responses/trait:standardErrors:409'
        '500':
          $ref: '#/responses/trait:standardErrors:500'
      security:
        - x-api-key: []
      summary: Get Apple MDM DEP Public Key
      tags:
        - Apple MDM
      x-scopes:
        - mdm
        - mdm.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/depkey \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/depkey"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/depkey' -Method GET -Headers $headers
    parameters:
      - in: path
        name: apple_mdm_id
        required: true
        type: string
    x-functionalities-tags:
      - mdm
  /applemdms/{apple_mdm_id}/enrollmentprofiles:
    get:
      description: |-
        Get a list of enrollment profiles for an apple mdm.

        Note: currently only one enrollment profile is supported.

        #### Sample Request
        ```
         curl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/enrollmentprofiles \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: applemdms_enrollmentprofileslist
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/AppleMDM'
            type: array
      security:
        - x-api-key: []
      summary: List Apple MDM Enrollment Profiles
      tags:
        - Apple MDM
      x-scopes:
        - mdm
        - mdm.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/enrollmentprofiles \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
            import requests

            url = "https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/enrollmentprofiles"

            headers = {
                "x-org-id": "SOME_STRING_VALUE",
                "x-api-key": "REPLACE_KEY_VALUE"
            }

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Powershell
          source: |-
            $headers=@{}
            $headers.Add("x-org-id", "SOME_STRING_VALUE")
            $headers.Add("x-api-key", "REPLACE_KEY_VALUE")
            $response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/enrollmentprofiles' -Method GET -Headers $headers
    parameters:
      - in: path
        name: apple_mdm_id
        required: true
        type: string
    x-functionalities-tags:
      - mdm
  /applemdms/{apple_mdm_id}/enrollmentprofiles/{id}:
    get:
      description: |-
        Get an enrollment profile

        Currently only requesting the mobileconfig is supported.

        #### Sample Request

        ```
        curl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/enrollmentprofiles/{ID} \
          -H 'accept: application/x-apple-aspen-config' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      operationId: applemdms_enrollmentprofilesget
      parameters:
        - $ref: '#/parameters/trait:multiTenantRequestHeaders:x-org-id'
      produces:
        - application/x-apple-aspen-config
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/mobileconfig'
      security:
        - x-api-key: []
      summary: Get an Apple MDM Enrollment Profile
      tags:
        - Apple MDM
      x-scopes:
        - mdm
        - mdm.readonly
      x-codeSamples:
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/enrollmentprofiles/{id} \
              --header 'x-api-key: REPLACE_KEY_VALUE' \
              --header 'x-org-id: SOME_STRING_VALUE'
        - lang: Python
          source: |-
[...]
